<?xml version="1.0" encoding="utf-8" ?>

<!--
Copyright (c) 2018 Pilz GmbH & Co. KG

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<gripper xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="prbt_gripper" params="gripper_name:=^ parent">
    <!-- Load pg70 gripper macro -->
    <xacro:include filename="$(find moveit_resources_prbt_pg70_support)/urdf/pg70/pg70.urdf.xacro" />

    <!-- instantiate the gripper -->
    <xacro:schunk_pg70 parent="${parent}" name="${gripper_name}" has_podest="false">
      <origin xyz="0 0 0.0171" rpy="0 0 ${-pi*3/4.}" />
    </xacro:schunk_pg70>
  </xacro:macro>
</gripper>
