<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
  This does not replace URDF, and is not an extension of URDF.
  This is a format for representing semantic information about the robot structure.
  A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
  -->
  <!--
  GROUPS: Representation of a set of joints and links. This can be useful for specifying DOF to plan for, defining arms,
          end effectors, etc
  LINKS:  When a link is specified, the parent joint of that link (if it exists) is automatically included
  JOINTS: When a joint is specified, the child link of that joint (which will always exist) is automatically included
  CHAINS: When a chain is specified, all the links along the chain (including endpoints) are included in the group.
          Additionally, all the joints that are parents to included links are also included. This means that joints
          along the chain and the parent joint of the base link are included in the group
  SUBGROUPS: Groups can also be formed by referencing to already defined group names
  -->
  <xacro:macro name="prbt_manipulator" params="prefix">
    <group name="manipulator">
      <chain base_link="${prefix}base_link" tip_link="${prefix}flange" />
    </group>
    <!--
    DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come
    into collision with any other link in the robot. This tag disables collision checking between a specified
    pair of links.
    -->
    <disable_collisions link1="${prefix}flange" link2="${prefix}link_1" reason="Never" />
    <disable_collisions link1="${prefix}flange" link2="${prefix}link_2" reason="Never" />
    <disable_collisions link1="${prefix}flange" link2="${prefix}link_3" reason="Never" />
    <disable_collisions link1="${prefix}flange" link2="${prefix}link_4" reason="Never" />
    <disable_collisions link1="${prefix}flange" link2="${prefix}link_5" reason="Adjacent" />
    <disable_collisions link1="${prefix}link_1" link2="${prefix}link_2" reason="Adjacent" />
    <disable_collisions link1="${prefix}link_1" link2="${prefix}link_3" reason="Never" />
    <disable_collisions link1="${prefix}link_1" link2="${prefix}base_link" reason="Adjacent" />
    <disable_collisions link1="${prefix}link_2" link2="${prefix}link_3" reason="Adjacent" />
    <disable_collisions link1="${prefix}link_2" link2="${prefix}link_5" reason="Never" />
    <disable_collisions link1="${prefix}link_2" link2="${prefix}base_link" reason="Never" />
    <disable_collisions link1="${prefix}link_3" link2="${prefix}link_4" reason="Adjacent" />
    <disable_collisions link1="${prefix}link_3" link2="${prefix}link_5" reason="Never" />
    <disable_collisions link1="${prefix}link_4" link2="${prefix}link_5" reason="Adjacent" />
  </xacro:macro>
</robot>
