################################################################################
# Repo

.git/*
.dockerignore
.gitignore
Dockerfile

################################################################################
# JetBrains IDEs

# User-specific stuff
**/.idea/**
