controller_names:
  - panda_arm_controller
  - hand_controller

panda_arm_controller:
  action_ns: follow_joint_trajectory
  type: FollowJointTrajectory
  default: true
  joints:
    - panda_joint1
    - panda_joint2
    - panda_joint3
    - panda_joint4
    - panda_joint5
    - panda_joint6
    - panda_joint7

hand_controller:
  action_ns: gripper_action
  type: GripperCommand
  default: true
  joints:
    - panda_finger_joint1
    - panda_finger_joint2
