<launch>

  <arg name="gripper" default="" />

  <arg name="command_args" value="-d $(find moveit_resources_prbt_support)/test/robotmodel.rviz" />

  <!-- load urdf -->
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find moveit_resources_prbt_support)/urdf/prbt.xacro' gripper:=$(arg gripper)" />

  <!-- source that publishes the joint positions as a sensor_msgs/JointState -->
  <param name="use_gui" value="true"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
 
  <!-- robot visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="$(arg command_args)" required="true" />
 
  <!-- publish all the frames to TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" value="50"/> <!-- Hz -->
  </node>

</launch>
