---
# TODO(henningkayser): Re-enable performance-unnecessary-value-param once #214 is resolved
Checks:          '-*,
                  performance-*,
                  -performance-unnecessary-value-param,
                  modernize-redundant-void-arg,
                  modernize-use-default,
                  modernize-make-shared,
                  modernize-make-unique,
                  readability-named-parameter,
                  readability-redundant-smartptr-get,
                  readability-redundant-string-cstr,
                  readability-simplify-boolean-expr,
                  '
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
CheckOptions:
  - key:             llvm-namespace-comment.ShortNamespaceLines
    value:           '10'
  - key:             llvm-namespace-comment.SpacesBeforeComments
    value:           '2'
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '2'
...
