<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="prbt_ros2_control" params="name prefix use_fake_hardware:=true fake_sensor_commands:=true initial_positions">

		<ros2_control name="${name}" type="system">
			<hardware>
				<xacro:if value="${use_fake_hardware}">
					<plugin>mock_components/GenericSystem</plugin>
					<param name="fake_sensor_commands">${fake_sensor_commands}</param>
					<param name="state_following_offset">0.0</param>
				</xacro:if>
			</hardware>

			<joint name="${prefix}joint_1">
				<command_interface name="position">
					<param name="min">-2.96706</param>
					<param name="max">2.96706</param>
				</command_interface>
				<command_interface name="velocity">
					<param name="min">-3.15</param>
					<param name="max">3.15</param>
				</command_interface>
				<state_interface name="position">
					<param name="initial_value">0.0</param>
				</state_interface>
				<state_interface name="velocity">
					<param name="initial_value">0.0</param>
				</state_interface>
				<state_interface name="effort">
					<param name="initial_value">0.0</param>
				</state_interface>
				<param name="initial_position">${initial_positions['joint_1']}</param>  <!-- initial position for the FakeSystem -->
			</joint>
			<joint name="${prefix}joint_2">
				<command_interface name="position">
					<param name="min">-2.96706</param>
					<param name="max">2.96706</param>
				</command_interface>
				<command_interface name="velocity">
					<param name="min">-3.15</param>
					<param name="max">3.15</param>
				</command_interface>
				<state_interface name="position">
					<param name="initial_value">0.0</param>
				</state_interface>
				<state_interface name="velocity">
					<param name="initial_value">0.0</param>
				</state_interface>
				<state_interface name="effort">
					<param name="initial_value">0.0</param>
				</state_interface>
				<param name="initial_position">${initial_positions['joint_2']}</param>  <!-- initial position for the FakeSystem -->
			</joint>
			<joint name="${prefix}joint_3">
				<command_interface name="position">
					<param name="min">-2.96706</param>
					<param name="max">2.96706</param>
				</command_interface>
				<command_interface name="velocity">
					<param name="min">-3.15</param>
					<param name="max">3.15</param>
				</command_interface>
				<state_interface name="position">
					<param name="initial_value">0.0</param>
				</state_interface>
				<state_interface name="velocity">
					<param name="initial_value">0.0</param>
				</state_interface>
				<state_interface name="effort">
					<param name="initial_value">0.0</param>
				</state_interface>
				<param name="initial_position">${initial_positions['joint_3']}</param>  <!-- initial position for the FakeSystem -->
			</joint>
			<joint name="${prefix}joint_4">
				<command_interface name="position">
					<param name="min">-2.96706</param>
					<param name="max">2.96706</param>
				</command_interface>
				<command_interface name="velocity">
					<param name="min">-3.15</param>
					<param name="max">3.15</param>
				</command_interface>
				<state_interface name="position">
					<param name="initial_value">0.0</param>
				</state_interface>
				<state_interface name="velocity">
					<param name="initial_value">0.0</param>
				</state_interface>
				<state_interface name="effort">
					<param name="initial_value">0.0</param>
				</state_interface>
				<param name="initial_position">${initial_positions['joint_4']}</param>  <!-- initial position for the FakeSystem -->
			</joint>
			<joint name="${prefix}joint_5">
				<command_interface name="position">
					<param name="min">-2.96706</param>
					<param name="max">2.96706</param>
				</command_interface>
				<command_interface name="velocity">
					<param name="min">-3.15</param>
					<param name="max">3.15</param>
				</command_interface>
				<state_interface name="position">
					<param name="initial_value">0.0</param>
				</state_interface>
				<state_interface name="velocity">
					<param name="initial_value">0.0</param>
				</state_interface>
				<state_interface name="effort">
					<param name="initial_value">0.0</param>
				</state_interface>
				<param name="initial_position">${initial_positions['joint_5']}</param>  <!-- initial position for the FakeSystem -->
			</joint>
			<joint name="${prefix}joint_6">
				<command_interface name="position">
					<param name="min">-2.96706</param>
					<param name="max">2.96706</param>
				</command_interface>
				<command_interface name="velocity">
					<param name="min">-3.15</param>
					<param name="max">3.15</param>
				</command_interface>
				<state_interface name="position">
					<param name="initial_value">0.0</param>
				</state_interface>
				<state_interface name="velocity">
					<param name="initial_value">0.0</param>
				</state_interface>
				<state_interface name="effort">
					<param name="initial_value">0.0</param>
				</state_interface>
				<param name="initial_position">${initial_positions['joint_6']}</param>  <!-- initial position for the FakeSystem -->
			</joint>
		</ros2_control>
	</xacro:macro>
</robot>
