name: Docker Lint

on:
  workflow_dispatch:
  workflow_call:

jobs:
  docker-lint:
    strategy:
      fail-fast: false
      matrix:
        DOCKERFILE_PATH: [ci, ci-testing, release, source]

    name: Lint Dockerfiles
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: .docker/${{ matrix.DOCKERFILE_PATH }}/Dockerfile
          config: .docker/.hadolint.yaml
